body,
html {
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
body {
  overflow: hidden;
}
@media screen and (max-height: 740px) and (max-width: 970px) {
  body {
    overflow: inherit;
  }
}

@media screen and (max-width: 595px) {
  body {
    margin: 0 auto;
    max-width: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-family-main: 'Outfit', -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-secondary: 'Segoe Print', serif;
}

@font-face {
  font-family: Outfit;
  font-weight: 900;
  src: url('../vendor/fonts/Outfit-Black.ttf');
}

@font-face {
  font-family: Outfit;
  font-weight: 700;
  src: url('../vendor/fonts/Outfit-Bold.ttf');
}

@font-face {
  font-family: Outfit;
  font-weight: 400;
  src: url('../vendor/fonts/Outfit-Regular.ttf');
}
