.mainPage {
  display: flex;
}

.headerBox {
  max-width: 465px;
  max-height: 508px;
  margin: 43px 163px 24px 173px;
}

.header {
  margin: 0;
  margin-bottom: 24px;
  color: var(--light-other-dark-blue, #302F61);
  font-family: Outfit, serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: 105px;
  text-transform: uppercase;
}

.sqdfy {
  background: radial-gradient(132.52% 121.31% at -19.86% 69.69%, #5DF6FF 8.98%, #7BA0FF 32.87%, #B072FF 60.85%, #FC5FD0 85.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Outfit, serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: 105px;
  text-transform: uppercase;
}

.span {
  margin: 0;
  color: #584A75;
  font-family: Outfit, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  span {
    font-weight: 700;
  }
}

.box {
  margin-top: 75px;
  height: 704px;
  min-width: 466px;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  border-top: 15px solid white;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #FFFFFF;

}

.successedEmail {
  display: flex;
  flex-direction: column;
  background-image: url("../images/Group 33670.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 110px 120px;
  box-sizing: border-box;
  width: 434px;
}

.letter {
  width: 110px;
  height: 120px;
}

.successedEmailSpan {
  width: 252px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
  align-self: stretch;
  color: #584A75;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.circles {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: -100;
}

.circle {
  width: 322px;
  height: 322px;
  filter: blur(130px);
}

.circle:nth-child(1) {
  margin-right: -80px;
  margin-top: 80px;
  background-color: #FFC659;
}

.circle:nth-child(2) {
  background-color: #5BF5FF;
  margin-top: -100px;
}

.circle:nth-child(3) {
  margin-top: 80px;
  margin-left: -100px;
  background-color: #B072FF;
}

.formBox {
  display: flex;
  flex-direction: column;
  padding: 82px 0 82px;
  background: url("../images/form_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;


  h3 {
    margin: 0 0 8px;
    color: #1A1426;
    font-family: Outfit, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }


}

.formBoxSpan {
  margin: 0 auto 24px;
  align-self: stretch;
  color: #584A75;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 344px;
  margin: 0 auto;

  button {
    cursor: pointer;
    border: none;
    height: 56px;
    padding: 12px 24px;
    border-radius: 16px;
    background: #1A1426;
    color: #FFF;
    font-family: Outfit, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.atPlace {
  position: relative;
  display: flex;

  input {
    display: block;
    width: 100%;
    border: 1px solid #E3DDEE;
    padding: 20px 16px;
    border-radius: 16px;
    padding-left: 3rem;
  }

  input::placeholder {
    color: #AAA2BA;
    font-family: Outfit, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

}

.atPlace {
  position: relative;
}

.atPlace::before {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

}

.at::before {
  width: 17px;
  height: 17px;
  box-sizing: border-box;
  background-image: url("../images/At.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.caption {

  font-family: Outfit, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(170, 162, 186, 1);
  margin: 16px 0 0 0;

  span {
    font-weight: 700;
  }
}

@media screen and (max-width: 1270px) {
  .headerBox {
    margin: 43px 30px 24px 80px;
  }
  .header {
    font-size: 90px;
    line-height: 70px;
  }
  .sqdfy {
    font-size: 90px;
    line-height: 70px;
  }
}

@media screen and (max-width: 970px) {
  .mainPage {
    flex-direction: column
  }
  .headerBox {
    margin: 43px 220px 24px 50px;
  }

  .header {
    font-size: 78px;
    line-height: 64px;
    margin-bottom: 14px;
  }
  .sqdfy {
    font-size: 78px;
    line-height: 64px;

  }
  .span {
    font-size: 14px;
    line-height: 22px;
  }
  .box {
    margin-top: 24px;
    margin: 24px auto 0;
  }
  .circle {
    width: 294px;
    height: 294px;
  }

  .formBox {
    background: url("../images/Frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-items: center;

    h3 {
      font-size: 32px;
    }
  }
  .formBoxSpan {
    font-size: 18px;
    margin: 0 0 24px;
  }

  .form {
    width: 300px;
  }

  .caption {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 725px) {
  .headerBox {
    margin: 43px 100px 0 50px;
  }
}

@media screen and (max-width: 595px) {
  .successedEmail {
    max-width: 284px;
  }

  .circle {
    filter: blur(110px);
  }

  .circle:nth-child(2) {
    background-color: #5BF5FF;
    margin-top: -20px;
  }

  .mainPage {
    margin: 0 auto;
  }

  .box {
    height: 550px;
    min-width: 0;
    border-left: 15px solid #FFFFFF;
    border-right: 15px solid #FFFFFF;
    border-top: none;
    margin: 14px auto 0;
  }

  .headerBox {
    max-width: 274px;
    max-height: 276px;
    margin: 34px 56px 24px 40px;
    margin-bottom: 10px;
  }
  .header {
    font-size: 58px;
    line-height: 54px;
    margin-bottom: 18px
  }
  .sqdfy {
    font-size: 58px;
    line-height: 54px;
  }
  .form {
    width: 260px;
  }
  .formBox {
    padding: 35px 10px;
    margin-top: 15px;

    h3 {
      margin-top: 10px;
      font-size: 18px;
      line-height: 22px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .caption {
    font-size: 12px;
    line-height: 18px;
    width: 310px;
    margin-top: 7px;
  }
}